$happy-face-small: -4px -4px 80px 86px;
$happy-face: -4px -98px 115px 109px;
$sick-face: -4px -215px 111px 109px;
$shots: -4px -332px 110px 130px;
$check-blood-sugar-small: -4px -470px 110px 130px;
$pump: -4px -608px 111px 131px;
$comb-water-check-blood-sugar: -4px -747px 276px 131px;
$comb-sugar-water-health: -4px -886px 276px 131px;
$sugar-water: -4px -1025px 110px 131px;
$stethascope: -4px -1164px 111px 131px;
$health: -4px -1303px 111px 131px;
$comb-water-health: -4px -1442px 275px 131px;
$comb-sugar-water-check-blood-sugar: -4px -1581px 276px 131px;
$comb-stethascope-health: -4px -1720px 276px 131px;
$water: -4px -1859px 111px 131px;
$happy-pee: -4px -1998px 158px 182px;
$check-blood-sugar: -4px -2188px 223px 191px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon {
  background-image: url('../sprites.png');
}

