$arrow: -4px -4px 32px 30px;
$home: -4px -42px 35px 30px;
$happy-face-small: -4px -80px 80px 86px;
$happy-face: -4px -174px 115px 109px;
$sick-face: -4px -291px 111px 109px;
$check-blood-sugar-small: -4px -408px 110px 130px;
$shots: -4px -546px 110px 130px;
$comb-stethascope-health: -4px -684px 276px 131px;
$comb-sugar-water-check-blood-sugar: -4px -823px 276px 131px;
$comb-sugar-water-health: -4px -962px 276px 131px;
$sugar-water: -4px -1101px 110px 131px;
$health: -4px -1240px 111px 131px;
$comb-water-check-blood-sugar: -4px -1379px 276px 131px;
$pump: -4px -1518px 111px 131px;
$comb-water-health: -4px -1657px 275px 131px;
$stethascope: -4px -1796px 111px 131px;
$water: -4px -1935px 111px 131px;
$happy-pee: -4px -2074px 157px 181px;
$check-blood-sugar: -4px -2263px 223px 191px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon {
  background-image: url('../sprites.png');
}

