body{
	font-weight: 300;
}

.js .pane{
	display:none;
}

.container{
	padding:0px;
	width:auto;
	margin:0px $space-size*2;
}

.content-main{
	padding-top:75px;
	padding-bottom:$space-size;
	text-align:center;
	.large{
		font-size:$font-size-large;
	}
	.alert{
		font-size: $font-size-small;
		border: 1px $brand-primary dotted;
		border-radius: $space-size/2;
	}
}

.icon{
	display:block;
	width:$space-size*3;
	height:$space-size*3;
	overflow:hidden;
	text-indent: -3000px;
	background-image:url('../img/sprites.png');
	background-repeat:no-repeat;
	background-position:0px -5px;
}

.icon-home{
	width:26px;
	background-position:-95px -5px;
}

.icon-back{
	width:24px;
	background-position:-0px -5px;
}

.icon-shots{
	height:132px;
	width:115px;
	background-position:-4px 0px;
}
.icon-pump{
	height:132px;
	width:115px;
	background-position:-145px 0px;	
}

.actions{
	background-color: $btn-default-bg;
	border-color: $btn-default-border;
	border-top-width: 1px;

	.btn{
		display:block;
		position:relative;
		float:left;
		padding:$space-size 0px;
		font-size:$font-size-btn;
		border-width:0px;
		border-left-width:1px;
		text-transform: uppercase;
		&.first{
			border-left-width:0px;
		}
		.icon{
			display:none;
		}
		.icon-aligned{
			position:absolute;
			top:0px;
			left:0px;
			z-index:5;
		}
		.dotted-line{
			display:block;
			position:absolute;
			top:0px;
			left:0px;
			width:0px;
			border-left: #fff 1px dashed;
			z-index:1;
		}
	}
}