body{
	font-weight: 300;
}

body.js{
	width:100%;
	height:100%;
	overflow:hidden;
}

.js .pane{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

.pane-why{
	background-color: $brand-primary;
	color: #000;
}

.container{
	padding:0px;
	width:auto;
	margin:0px $space-size*2;
}

.pane{
	padding-top: $space-size/2;
	padding-bottom:$space-size;
	text-align:center;
	.large{
		font-size:$font-size-large;
		line-height:1.1em;
	}
	.small{
		font-size: $font-size-small;
		text-transform: none;
	}
	.alert{
		font-size: $font-size-base;
		color:$brand-primary;
	}
}

.btn-why{
	@extend .btn-default;
}

.icon{
	display:block;
	width:$space-size*3;
	height:$space-size*3;
	overflow:hidden;
	text-indent: -3000px;
	background-image:url('../img/sprites.png');
	background-repeat:no-repeat;
	background-position:0px -5px;
}

.icon-left{
	float:left;
}

.icon-centered{
	margin: 0px auto;
}

.icon-trio-centered{
	width:320px;
	margin:0px auto;
	diplay:block;
	float:none;
	.icon{
		margin-left: $space-size;
		margin-right: $space-size;
	}
}

.icon-home{
	width:26px;
	background-position:-95px -5px;
}

.icon-plus{
	width:24px;
	height:22px;
	background-position:-20px -166px;
	margin-top:50px;
	}

.icon-back{
	width:24px;
	height:120px;
	background-position:-0px -5px;
}

.icon-shots{
	height:132px;
	width:115px;
	background-position:-547px -4px;
}
.icon-pump{
	height:132px;
	width:115px;
	background-position:-689px -4px;	
}

.icon-face-sick{
	width:109px;
	height:109px;
	background-position:-233px -8px;
}

.icon-face-happy{
	width:80px;
	height:80px;
	background-position:-232px -135px;
}

.icon-health{
	width: 97px;
	height: 115px;
	background-position:-398px -4px;
}

.icon-stethoscope{
	width: 104px;
	height: 120px;
	background-position:-709px -187px;	
}

.icon-water-bottle{
	width: 101px;
	height: 120px;
	background-position:-398px -177px;	
}

.icon-sugar-water{
	width: 101px;
	height: 120px;
	background-position:-555px -182px;	
}

.icon-check-blood-sugar{
	width:225px;
	height:185px;
	background-position:-857px -8px;
}

.icon-check-blood-sugar-small{
	width:105px;
	height:120px;
	background-position:-927px -229px;
	margin-top:3px;
}

.icon-ketones{
	width:271px;
	height:108px;
	background-position:-1129px -40px;	
}

.actions{
	background-color: $btn-default-bg;
	border-color: $btn-default-border;
	border-top-width: 1px;

	.container{
		margin:0px auto;
		width:100%;
	}

	.btn{
		display:block;
		position:relative;
		float:left;
		width:100%;
		padding:$space-size 0px;
		font-size:$font-size-btn;
		border-color:#000;
		border-width:0px;
		text-transform: uppercase;
		white-space:normal;
	}
	.two-btns{
		.btn{
			width:50%;
			border-left-width:1px;
		}
		.btn.first{
			border-left-width:0px;
		}
	}

}