body{
	font-weight: 300;
}

.js .pane{
	display:none;
	position:absolute;
	overflow:hidden;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	.content{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
	}
	.actions{
		position:absolute;
		bottom:0px;
		left:0px;
		width:100%;
	}
}

.navbar{
	height:20px;
	margin-bottom:0px;
}

.pane-why{
	background-color: $brand-primary;
	color: #000;
}

.container{
	padding:0px;
	width:auto;
	margin:0px $space-size*2;
}

.pane{
	text-align:center;
	.large{
		font-size:$font-size-large;
		line-height:1.1em;
	}
	.small{
		font-size: $font-size-small;
		text-transform: none;
	}
	.alert{
		font-size: $font-size-base;
		color:$brand-primary;
		margin-bottom:0px;
		ul{
			padding-left: $space-size;
		}
		li{
			margin-bottom:$space-size;
		}
	}
}

.btn-why{
	@extend .btn-warning;
	color:#000;
	border-color: darken($brand-primary, 10%);
	border-width:2px;
	border-radius: $space-size/2;
background: #ffca30; /* Old browsers */
background: -moz-linear-gradient(top,  #ffca30 60%, #fcbb00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#ffca30), color-stop(100%,#fcbb00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffca30 60%,#fcbb00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffca30 60%,#fcbb00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffca30 60%,#fcbb00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffca30 60%,#fcbb00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca30', endColorstr='#fcbb00',GradientType=0 ); /* IE6-9 */

	&:hover{
		background: darken($brand-primary, 10%);
		color:#000;
		border-color: darken($brand-primary, 10%);
	}
}

.icon{
	display:block;
	width:$space-size*3;
	height:$space-size*3;
	overflow:hidden;
	text-indent: -3000px;
	background-image:url('../img/sprites.png');
	background-repeat:no-repeat;
	background-position:0px -5px;
}

.icon-left{
	float:left;
}

.icon-centered{
	margin: 0px auto;
}

.icon-trio-centered{
	width:320px;
	margin:0px auto;
	diplay:block;
	float:none;
	.icon{
		margin-left: $space-size/2;
		margin-right: $space-size/2;
	}
}

.icon-home{
	width:26px;
	background-position:-125px -25px;
}

.icon-plus{
	width:24px;
	height:22px;
	background-position:-20px -166px;
	margin-top:50px;
	}

.icon-back{
	width:24px;
	height:120px;
	background-position:-31px -25px;
}

.icon-shots{
	height:132px;
	width:115px;
	background-position:-547px -4px;
}
.icon-pump{
	height:132px;
	width:115px;
	background-position:-689px -4px;	
}

.icon-face-sick{
	width:109px;
	height:109px;
	background-position:-233px -8px;
}

.icon-face-happy{
	width:80px;
	height:80px;
	background-position:-232px -135px;
}

.icon-health{
	width: 97px;
	height: 115px;
	background-position:-398px -4px;
}

.icon-stethoscope{
	width: 104px;
	height: 120px;
	background-position:-709px -187px;	
}

.icon-water-bottle{
	width: 101px;
	height: 120px;
	background-position:-398px -177px;	
}

.icon-sugar-water{
	width: 101px;
	height: 120px;
	background-position:-555px -182px;	
}

.icon-check-blood-sugar{
	width:225px;
	height:185px;
	background-position:-857px -8px;
}

.icon-check-blood-sugar-small{
	width:105px;
	height:120px;
	background-position:-927px -229px;
	margin-top:3px;
}

.icon-ketones{
	width:280px;
	height:108px;
	background-position:-1129px -229px;	
}

.actions{
	background-color: $btn-default-bg;
	border-color: $btn-default-border;
	border-top-width: 1px;

	.container{
		margin:0px auto;
		width:100%;
	}

	.btn{
		display:block;
		position:relative;
		float:left;
		width:100%;
		padding:$space-size 0px;
		font-size:$font-size-btn;
		border-color:#000;
		border-width:0px;
		text-transform: uppercase;
		white-space:normal;
	}
	.two-btns{
		.btn{
			width:50%;
			border-left-width:1px;
		}
		.btn.first{
			border-left-width:0px;
		}
	}

}