$space-size: 15px;
$border-radius-base: 0px;

// Colors
$brand-primary: #FFCA30;

$body-bg: #12294A; // dark blue
$text-color: #FFF !default;


// Fonts
$font-family-sans-serif: 'Nunito', Verdana, sans-serif;
$font-size-base:  25px !default;


// Headings
$headings-font-weight:    300 !default;

// Navbar
$navbar-default-bg: $body-bg;